{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}
<div style="background-color:rgba(154, 192, 131, 1);">
    <div class="row mb-5 text-center text-white laptop">
        <div class="col-lg-10 mx-auto">
            <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(21, 21, 21)"><b>📞Contact-Me📞</b></h1>
            <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Me. I Am Happy To
                Help.</p>
        </div>
    </div>
    
    <div class="row p-3">
    
        <div class="col">
            <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
                <center>
                    <h3>Do Gia Hien</h3>
                    <p class="lead" style="font-weight: 350;">Hi, I am Hien. I am a student. I love technology. I often explore making useful technology products for society and life. I hope that the product will help this society.
                    </p>
                </center>
                <div>
                    <h5>Social Media Handles :</h5><br>
                    <a target="_blank" href='mailto:Hiendogia14092008@gmail.com' style="text-align: center;"><img
                            src="../static/Images/tải xuống.png" height="40" width="40"></a> :
                            Hiendogia14092008@gmail.com<br><br>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}